<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Butly Inc.</title>
  </head>
  <body style="background-color: white !important;">
 
    {{{body}}}
 
    <footer style="align-self: end">
      <p align="center">
        Visit us at <a href="https://huangwcentral.com">huangwcentral.com</a><br>
        Contact us at <a href="ward.huang@sjsu.edu">ward.huang@sjsu.edu</a>
      </p>
    </footer>
  </body>
</html>
